<h1><%= @song.title %></h1>
<p>Artist: <%= @song.artist_name %></p>
<p>Genre: <%= @song.genre %></p>
<p>Released: <%= @song.release_year %></p>
<%= link_to "Delete Song", songs_path(@song), method: :delete %>
